In [1]:
import sklearn
import pandas as pd

In [16]:
aisles = pd.read_csv('~/coding_data/instacart/aisles.csv')
departments = pd.read_csv('~/coding_data/instacart/departments.csv')
order_products_prior = pd.read_csv('~/coding_data/instacart/order_products__prior.csv')
order_products_train = pd.read_csv('~/coding_data/instacart/order_products__train.csv')
products = pd.read_csv('~/coding_data/instacart/products.csv')

In [23]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [24]:
products.shape[0]

49688

There are about 50,000 products, each with aisle_id and department_id

In [25]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [26]:
departments.shape[0]

21

There are 21 departments

In [27]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [28]:
aisles.shape[0]

134

There are about 134 aisles

In [29]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [30]:
order_products_prior.shape[0]

32434489

There are about 32.5 million products in the test set.

In [31]:
order_products_train.shape

(1384617, 4)

There are about 1.4 million rows in the training data