In [1]:
import sys
sys.path.append('../src/')
import pandas as pd
from model import Model
from process_data import ProcessedData
from sklearn.linear_model import LogisticRegression

In [2]:
training_set = pd.read_csv('../data/train_set_small.csv')
test_set = pd.read_csv('../data/test_set_small.csv')

In [3]:
training_data = ProcessedData(training_set, 'train')
test_data = ProcessedData(test_set, 'test')

In [4]:
test_data.X

,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order
75,8,2,10,30.0,-1.0
108,11,3,14,13.0,-1.0
166,4,3,12,12.0,-1.0
279,13,0,22,7.0,-1.0
316,4,0,12,30.0,-1.0
896,32,3,16,4.0,-1.0
1182,29,4,16,3.0,-1.0
1253,9,6,15,30.0,-1.0
1440,22,5,17,4.0,-1.0
1699,16,5,18,30.0,-1.0
1934,16,1,15,23.0,-1.0
1997,5,5,19,30.0,-1.0
2772,57,2,17,2.0,-1.0
2848,30,3,21,17.0,-1.0
3251,21,1,13,30.0,-1.0

In [5]:
clf = LogisticRegression()

In [6]:
model = Model(clf, training_data.X, training_data.y, test_data.X)

In [7]:
print(model.classification_report)

             precision    recall  f1-score   support

        0.0       0.58      0.29      0.39       701
        1.0       0.65      0.86      0.74      1058

avg / total       0.62      0.63      0.60      1759